body{
  background: #ECFDFF;
}

h1 {
  font-family: 'Pangolin', cursive;
}
.Pangolin {
  font-family: 'Pangolin', cursive;
}

.main-size {
    font-size: 40px;
    color: #00A2B2;
    margin: 40px;
  }

#click {
  color: #1562B2;
  font-size: 15px;
  font-family: 'Indie Flower', cursive;
}

.box{
  padding-top:5px;
  border-style:solid;
  border-color: #B24200;
  border-width:1px;
  padding-left:3px;
  padding-bottom:10px;
  margin-left: 300px;
  margin-right: 300px;
  
}